@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake,forest;
}


[data-theme="cupcake"] {
  --hl-fg: 285 55% 32%;   /* berry-purple text */
  --hl-bg: 330 100% 96%; /* light pink frosting */
}



[data-theme="forest"] {
  --hl-fg: 140 35% 78%;  /* soft mint-green text */
  --hl-bg: 155 30% 18%;  /* deep forest green */
}



[data-theme="forest"] .btn-light {
  background-color: hsl(140 40% 92%); /* soft mint */
  color: hsl(160 30% 18%);            /* forest green text/icon */
  border: 1px solid hsl(140 30% 80%);
}

[data-theme="forest"] .btn-light:hover {
  background-color: hsl(140 40% 88%);
}






